body {
	font-family: Tahoma;
	background: #311f03;
	font-size: 120%;
}

#container{
	width: 800px;
	margin: 0 auto 0 auto;
}

.nav{
	padding: 50px 0 20px 0; 
	text-align: right;
	font-size: 20px;
	margin:0;
}
    .nav.top ul {
		margin:0 auto;
		padding: 1px;
	}
	.nav.top li {
		display: inline;
		padding: 1px;
	}
	
	.nav.top  a { 
		color: #fff;
		font-family: myriad pro;
		text-decoration:none;
	}
	.nav.top a:active {
		color:#73d822;
	} 	
	.nav.top a:visited {
		color:#73d822;
	} 	
	.nav.top a:hover{ 
		color:#73d822;
	}

a {
	color: #311f03;
	text-decoration:none;
}

	a:hover {
		color:#73d822;
	}
	
	a:visited {
		color:#73d822;
	}
	
		
		
	
#separator{
	height: 10px;
	background: #73d822;
}
	
#content{
	margin:-5px auto;
	background: #fff;
	border: 4px #fff;
}

#main {
	width: 100%;
}

#main div p{
	font-size: 15px;
	padding: 0 20px;
}
	
#column {
	width: 780px;
	margin: 0 auto;
}	
	
	#column div img{
		float: left;
		margin: 7px 40px 20px 30px;
		border: 3px solid #291900;
	}

	#column div p{ 
		font-size: 14px;
		margin: 30px 15px 5px 30px;
	}


		
#contact div p{
	font-size: 15px;
	text-align:center;
	margin: 2px auto;
	padding: 30px  5px 30px 40px;
	}

#footer{
	width: 800px;
	margin: -5px auto;
	text-align: center;
	font-size:12px;
	color: #fff;
}
    #footer a img {
		border:none;
	}
	
		#footer a img:hover {
			padding-bottom: 4px;
		}
	

.stretch:after {		/* Expands the container around any floated elements it may contain */
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}	

* html stretch {height: 1%;}
